@import 'variables';

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(59 / 40 * 100%);
  text-align: center;
  @media (max-width: $md5 + px) {
    font-size: 32px;
  }
}

.title-md {
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  
  span{
    cursor: pointer;
      color: $primary;
  }
}

.link {
  color: $red;
  text-decoration: underline;
  cursor: pointer;

  &.yellow {
    color: $yellow;
  }

  &.black {
    color: $black;
  }
}

.text {
  font-size: 16px;
  line-height: 112%;
}

.alert {
  position: absolute;
  top: 24px;
  color: $red;
  font-size: 20px;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 24px;
  background-color: $white;
  border-radius: 8px;
}
