$font: 'OpenSans';
//$fontSecond: 'Cera Pro';
$font-size: 16px;

$minWidth: 1080px;

$black: #474747;
$white: #fff;
$white-card: #fafafa;
$white-active: #d4dae5;
$primary: #435fe5;
$secondary: #f5d980;
$info: #b7f7db;
$warning: #ff6327;
$error: #ff0000;
$gray: #909090;
$gray-700: #9c9c9c;
$gray-500: #a5aeb4;
$gray-400: #eaedf3;
$gray-300: #030101;
$gray-100: #dcdcdc;
$modalBg: rgba(0, 0, 0, 0.2);
$shadow: 0 0 5px rgba(0, 0, 0, 0.3);
$light-blue: #5696ff;
$yellow: #fcc649;
$red: #ea3c41;
$green: #9ecb45;
$pink: #f5f5f5;
$background: rgba(13, 40, 57, 0.5);

$qwe: #141414;
$bg-dark: #e1e3e6;
$qwe3: #222222;
$qwe4: 0 0 0 1px #363738;

$bg-light: #f5f5f5;

$md1: 1520;
$md2: 1240;
$md3: 992;
$md4: 768;
$md5: 540;
